/* -------------------------------------
 * Fonts
 * ------------------------------------- */
// Google fonts
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:100,300,400,500|Roboto:100,300,400,500,700&subset=latin-ext');
$base-font: 'Roboto Mono', monospace;
$header-font: 'Roboto', sans-serif;

// Local fonts (uncomment following lines)
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";

// Font-size and line-height
$base-size: 16px;
$base-height: 1.4;

/* -------------------------------------
 * Colors
 * ------------------------------------- */
// Scheme
$brand-color: #5FC5C5;
$light-orange: #f4dfd3;

$blue: #1bc3f3;
$light-pink: #f1d0d6;

$magenta: #f7286b;
$light-blue: #c7ecee;

$purple: #8970fe;
$light-yellow: #f2e6bb;

$yellow: #efa505;
$light-purple: #ebdbf5;

$orange: #fe705b;
$light-green: #e8f3c3;

$gray: #BDBDBD;
