.wrapper-flex {
  display: flex;
  width: 100vw;
  flex-wrap: wrap;
  flex-direction: column;
}
.container-flex {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.flex {
  display: flex;
}

.feature {
  width: 100vw;
  &-img {
    background-size: cover;
    background-position: right center;
    width: 100vw;
    height: 33.33vw;
    max-height: 320px;
  }
  &-content {
    width: 100vw;
    padding: 64px;
    color: rgba(0,0,0,0.618);
  }
}

#intro {
  background-color: $light-orange;
  color: $brand-color;
  h2 {
    margin-top: 0px;
    margin-bottom: 1em;
  }
  p {
    margin-bottom: 2em;
  }
}

#fauvea {
  color: $blue;
  background-color: $light-pink;
}
#jumbojim {
  color: $purple;
  background-color: $light-yellow;
}
#louie {
  color: $yellow;
  background-color: $light-purple;
}
#karl {
  color: $orange;
  background-color: $light-green;
}


@media screen and (min-width: 1080px) {
  .container-flex {
    flex-direction: row;
  }
  .feature {
    height: auto;
    height: 320px;
    &-img {
      width: 50vw;
      height: auto;
    }
    &-content {
      width: 50vw;
      height: auto;
    }
  }
  .switch-order {
    flex-direction: row-reverse;
  }
}
