.container-flex {
  display: flex;
}

.flex {
  display: flex;
  width: 50vw;
}

.feature-img {
  background-size: cover;
  background-position: center center;
}

.feature-content {
  padding: 64px;
}
