.hubot-name {
  font-size: 64px;
  font-weight: bold;
}
.hubot-model {
  text-transform: uppercase;
  color: rgba(0,0,0,.5);
}
.hubot-category {
  color: rgba(0,0,0,.5);
}
.hubot-description {
  color: rgba(0,0,0,.8);
}
.hubot-infos {
  position: relative;
}
.hubot-details {
  h6, ul {
    font-size: 14px;
    line-height: 1.618;
  }
}
.hubot-avatar {
  padding: 0;
  min-height: 320px;
  width: 100%;
  background-size: cover;
  background-position: center center;
}
.hubot-booking {
  padding: 16px;
  background-color: #fff;
  height: 320px;
  #total-price {
    margin-top: 0;
    strong {
      font-size: 32px;
    }
  }
}

aside {
  margin-bottom: 32px;
}

@media screen and (min-width: 768px) {
  .hubot-avatar {
    max-width: 320px;
  }
}

@media screen and (min-width: 992px) {
  .fixed-lg {
    position: fixed;
    right: 5vw;
    top: calc(70px);
    width: 320px;
  }
}
