.hubot-name {
  font-size: 64px;
  font-weight: bold;
}
.hubot-model {
  text-transform: uppercase;
  color: rgba(0,0,0,.5);
}
.hubot-category {
  color: rgba(0,0,0,.5);
}
.hubot-description {
  color: rgba(0,0,0,.8);
}
.hubot-infos {
  position: relative;
}
.hubot-details {
  h6, ul {
    font-size: 14px;
    line-height: 1.618;
  }
}
.hubot-avatar {
  padding: 0;
  min-height: 320px;
}
.hubot-booking {
  padding: 20px;
  background-color: #fff;
  max-height: 320px;
  #total-price {
    margin-top: 8px;
    line-height: 1.618;
    strong {
      font-size: 32px;
    }
  }
}

@media screen and (min-width: 992px) {
  .fixed-lg {
    position: fixed;
    right: 5vw;
    top: calc(70px);
    min-width: 320px;
    max-width: 28%;
  }
}
