<h1>Edit:</h1>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-offset-2 col-sm-8 panel panel-info">

      <h2>Edit your Hubot</h2>

      <%= render "form", hubot: @hubot %>

      <%= link_to "â† Back", hubots_path, class: "btn btn-default" %>

    </div>
  </div>
</div>
