<% content_for(:title_tag) do %>
  Hubots
<% end %>


<div class="container">
<h1>All hubots</h1>

  <%= link_to 'Add a new Hubot', new_hubot_path, class: "btn btn-default" %>

  <div class="row">
    <% @hubots.each do |hubot| %>
        <%= render 'shared/hubot', hubot: hubot %>
    <% end %>
  </div>
</div>

