.banner {
  position: relative;
  color: white;
  text-align: center;
  height: 100vh;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
}
.banner-content {
  z-index: 2;
  margin-top: -64px;
  h1 {
    font-size: 50px;
    font-weight: bold;
    margin-top: 0;
    text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
  }
  p {
    font-size: 20px;
    font-weight: lighter;
    color: rgba(255, 255, 255, 0.7);
    margin-bottom: 20px;
  }
}
.banner-background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-wrap: wrap;
  z-index: 1;
  .banner-img {
    background-size: cover;
    background-position: center center;
    width: 20vw;
    height: calc((100vh - 70px) / 2);
    transition: filter 0.2s ease;
    &:hover {
      filter: brightness(1.05);
    }
    img {
      width: 100%;
    }
  }
}
