.btn {
  position: relative;
  padding: 0.75em 1em;
  transition: all 0.1s ease;
  text-transform: uppercase;
  border-width: 1px;
  &-rounded {
    border-radius: 32px;
  }
  &-atsugi {
    padding: 0.5em 2em;
    border: 1px solid rgba(92,203,186,.3);
    border-radius: 0px;
    color: $brand-color;
    background-color: transparent;
    &:hover {
      color: #fff;
      background-color: $brand-color;
      border: 1px solid $brand-color;
    }
  }
  &-icon {
    padding: 0.5em 2em 0.5em 4em;
    i {
      position: absolute;
      left: 1em;
      top: 19%;
    }
  }
  &-back {
    padding: 0;
  }
}
