form {
  select, input {
    color: rgba(0,0,0,0.6) !important;
    &::-webkit-input-placeholder {color: rgba(0,0,0,0.3) !important;}
    &:-moz-placeholder           {color: rgba(0,0,0,0.3) !important;}
    &::-moz-placeholder          {color: rgba(0,0,0,0.3) !important;}
    &:-ms-input-placeholder      {color: rgba(0,0,0,0.3) !important;}
  }
  .form-group {
    margin-bottom: 12px;
  }
}
