// Headings

h1 { font-size: 5rem; font-weight: 700 }
h2 { font-size: 4rem; font-weight: 300 }
h3 { font-size: 3rem; font-weight: 400 }
h4 { font-size: 2rem; font-weight: 300 }

h1, h2, h3, h4 {
  letter-spacing: 0.05em;
  margin-bottom: .75em;
  line-height: 1.25;
}

h2, h3, h4 {
  text-transform: uppercase;
}
